<div id='game'>
  <% if @winner %>
    <div class="alert alert-success"><%=@winner%></div>
  <% elsif @condition21 %>
    <div class="alert alert-success"><%=@condition21%></div>
  <% elsif @loser %>
    <div class="alert alert-error"><%=@loser%></div>
  <% end %>

  <h1 class="white_text">Juega Blackjack!</h1>

  <h3 class="text-warning">¡Arre <%= session[:player_name] %>! Vamos...</h3> 

  <% if @play_again %>
    <h4 class="text-warning">
      <strong>..quieres jugar otra vez?</strong>
      <a href="/bet" class="btn btn-primary">Yes</a>
      <a href="/game_over" class="btn"> No</a>
    </h4>
  <% end %>

  <div class="well">
    <h4>Cartas del Crupier:</h4>
    <% session[:dealer_cards].each_with_index do |card, i| %>
      <% if session[:turn] != "dealer" && i == 0 %>
        <img src="/images/cards/cover.jpg">
      <% else %>
        <%= card_image(card) %>
      <% end %>
    <% end %>

    <% if @show_dealer_hit_button %>
      <p>
        <h5>El crupier tiene <%= calculate_total(session[:dealer_cards])%> y pedira carta.</h5>
        <form id="dealer_hit" action='/game/dealer/hit' method='post'>
            <input type='submit' class='btn btn-primary' value='Haz click para ver la tarjeta del crupier &rarr;'>
          </form>
      </p>
    <% end %>
  </div>


<br/>
  <div class="well" id="player">
    <h4>Cartas del Jugador:</h4>
    <% session[:player_cards].each do |card| %>
      <%= card_image(card) %>
    <% end %>

    <h5>Bueno <%= session[:player_name] %>, tienes $<%= session[:player_pot] %>, y apostaste $<%= session[:player_bet]%> en esta ronda.
    </h5>
  </div>


  <p>
    <h3 class="text-warning"><%= session[:player_name] %>, tienes <%= calculate_total(session[:player_cards]) %> puntos.</h3>

  <% if @show_hit_or_stay_buttons %>
    <h3 class="text-warning">Que quieres hacer?</h3>
    <form id="hit_form" action="/game/player/hit" method='post'>
      <input type="submit" class="btn btn-success" value="Pedir" />
    </form>
    <form id="stay_form" action="/game/player/stay" method='post'>
      <input type="submit" class="btn btn-warning" value="Plantar" />
    </form>
  <% end %>
  </p>
</div>
